*{
    box-sizing: border-box;
}
html{
    position: relative;
    min-height: 100%;
}
body{
    background-color:#001a00;
}

/* Navbar css properties listed below  */
.nav-bar-container{
    width: 100%;
    position: relative;
    height: 60px;
    background-color:#99ff99;
}
#leaderboard-box{
    position: relative;
    height: wrap;
    float: left;
    margin-left: 5%;
    padding: 7px 0;
}
#leaderbtn{
    background-color:#001a00;
    color: white;
    font-size: 20px;   
}
#timer-box{
    float: right;
    margin-right: 5%;
    padding: 20px 0;
}

/* Quiz container css properties listed below */
.quiz-container{   
    width: 60%;
    margin-left: auto;
    margin-right:auto;
    margin-top: 5%;
    margin-bottom: 5%;
    overflow: hidden;
    height: wrap;
    box-sizing: border-box;
    padding: 3%;
    background-color: #F2F4F7;
}
#start-quiz-container{
    text-align: center;
}
#startbtn{
    background-color:#001a00;
    color: white;
    font-size: 30px;   
}
#A, #B, #C, #D{
    border: 2px solid #99ff99;
    width: auto;
    text-align: left;
    margin: 3px 0;
}
#result-quiz-container{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#intialbtn{
    background-color:#001a00;
    color: white;
}
#score{
    font-size: 20px;
    font-weight: bolder;
}
.dropdown-menu{
    background-color: white;
}
#dropdown-item{
    color: white;
}
